<nav class="navbar navbar-light bg-info">
  <a class="navbar-brand" href="/"><h3>Towns-Site</h3></a>
  <% if user_signed_in? %>
    <div class="pull-right">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-danger font-weight-bold" %>
    </div>
  <% else %>
    <div class="pull-right">
      <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-danger font-weight-bold" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-danger font-weight-bold" %>
    </div>
  <% end %>
</nav>
